<section id="about" class="about">

    <div class="container">
	
       	<h2 class="section-title section-title--about">О нас</h2>
	    <span class="title__decor title__decor--about"></span>

	    <div class="about-content">
	    	<h3 class="about-content__title">Интернет-магазин SGUYKT</h3>
	    	<p class="about-content__text">Мы занимаемся продажей светосигнального оборудования для спецтранспорта оптом и в розницу с 2016 года.</p>
	    	<p class="about-content__text">Мы не останавливаемся на достигнутом и постоянно развиваемся в этой сфере, расширяем ассортимент товаров и спект услуг.</p>
	    	<p class="about-content__text">Наши специалисты всегда помогут с выбором товара и проконсультируют по всем вопросам.</p>
	    </div>

	    <div class="about-inner-wrap">
	    	<div class="image-block">
	    		<img class="image" src="img/call-center.jpg" width="485" height="315" alt="Условия оплаты и доставки">
	    	</div>
	    	<div class="text-block">
	    		<h3 class="text-block__title">К вашим услугам:</h3>
	    		<ul class="text-block-list">
	    			<li class="text-block__item">Конкурентоспособные цены</li>
	    			<li class="text-block__item">Качественное описание и изображение товаров</li>
	    			<li class="text-block__item">Реальные фото</li>
	    			<li class="text-block__item">Видео обзоры ассортимента</li>
	    			<li class="text-block__item">Cash-back от 1 до 10% за фото/видео отзыв о работе с нашим магазином</li>
	    			<li class="text-block__item">Доставка по всему миру</li>
	    			<li class="text-block__item">Возможность оплаты наложенным платежом</li>
	    			<li class="text-block__item">При самовывозе возможен монтаж и установка (доступно только жителям г.Якутск)</li>
	    			<li class="text-block__item">Фото/видео отчеты на этапе сборки и отправки заказа</li>
	    			<li class="text-block__item">Система обратной связи</li>
	    		</ul>
	    	</div>
	    </div>

    </div>
    <!-- /container -->
</section>
<!-- /about -->