<div class="container">

    <section id="advantages" class="advantages">

    	<h2 class="section-title">Наши преимущества</h2>
	    <span class="title__decor"></span>

	    <div class="advantages-wrap">
	    	
            <div class="advantages-block">
                <h2 class="section__subtitle">Мы можем предложить Вам:</h2>

                <ul class="advantages-list">
                
                    <li class="advantages__item">Конкурентоспособные цены</li>
                    <li class="advantages__item">Cash-back от 1 до 10%</li>
                    <li class="advantages__item">Доставку по всему миру</li>
                    <li class="advantages__item">Возможность оплаты наложенным платежом</li>
                    <li class="advantages__item">Монтаж и установку (для жителей г. Якутск)</li>
                    <li class="advantages__item">Систему обратной связи</li>

                </ul>
                <!-- /advantages-list -->

                <div class="advantages-img"></div>
            </div>
            <!-- /advantages-block -->

            <div class="delivery-block">
                <h2 class="section__subtitle">Условия оплаты и доставки:</h2>
                <p class="delivery-block__subtitle">Розница</p>

                <div class="delivery-list">
                
                <p class="text-italic">При условии, что вы находитесь в Якутске:</p>
                <ul>
                    <li>Пришли</li>
                    <li>Посмотрели</li>
                    <li>Заплатили</li>
                    <li>Получили</li>  
                </ul>  
                <p class="text-italic">При условии, что вы заказываете почтой:</p>
                <ul>
                    <li>Уведомили магазин о желаемом товаре</li>
                    <li>Утвердили наличие модели</li>
                    <li>Оплатили товар и доставку почтой</li>
                    <li>Получили чек</li>  
                    <li>Ожидаете товар</li>  
                </ul> 
            
                </div>
                <!-- /delivery-list -->

                <p class="delivery-block__subtitle">Опт</p>

                <ul>
                    <li>Сделали запрос на желаемый прайс лист (стробосокопами и СГУ мы не ограничиваемся)</li>  
                    <li>Получили прайс</li>
                    <li>Утвердили количество и виды моделей</li>
                    <li>Оплатили по реквизитам</li>
                    <li>Ожидаем получение через услуги транспортной компании</li>          
                </ul>

            </div>
            <!-- /delivery-block -->
	    </div>
        <!-- /advantages-wrap -->
    </section>
    <!-- /advantages -->
</div>
<!-- /container -->