<div class="container">
	
    <section id="catalog" class="catalog">
    	
        <h2 class="section-title section-title--contacts">Каталог</h2>
	    <span class="title__decor title__decor--contacts"></span>

        <div class="filter-block">
                <ul class="filter-block__block">
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter="all">Все</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".bottom-lights">Подсветка днища</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".drls">ДХО</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".horns">Клаксоны</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".led-beams">Led-балки</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".rear-lights-repeaters">Повторители задних огней</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".roof-checkers">Шашки на крышу</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".salon-lights">Подсветка салона</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".sgu">СГУ</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".strobe-controllers">Контроллеры стробоскопов</span>
                    </li>
                    <li class="filter-block__element">
                        <span class="filter-block__button filter" data-filter=".strobe-lights">Стробоскопы</span>
                    </li>
                </ul>
            </div>

	    <div id="cards" class="cards-wrap">
	    	
            <ul class="cards-list">
            	
                <li class="cards-list__item mix bottom-lights">
                	<p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="bottom-lights-1" href="javascript:;">
                                <img src="img/products/bottom-lights/bottom-lights-1/bottom-lights-1--thumb--main.jpg" width="300" height="300" alt="Подсветка днища автомобиля" title="Подсветка днища автомобиля">
                            </a>

                            <a class="small-img" href="img/products/bottom-lights/bottom-lights-1/bottom-lights-1.jpg" data-fancybox="bottom-lights-1" data-width="1000" data-height="1000">
                                <img src="img/products/bottom-lights/bottom-lights-1/bottom-lights-1--thumb.jpg" width="300" height="300" alt="Подсветка днища автомобиля" title="Подсветка днища автомобиля">
                            </a>

                            <a class="small-img" href="img/products/bottom-lights/bottom-lights-1/bottom-lights-2.jpg" data-fancybox="bottom-lights-1" data-width="1000" data-height="1000">
                                <img src="img/products/bottom-lights/bottom-lights-1/bottom-lights-2--thumb.jpg" width="300" height="300" alt="Подсветка днища автомобиля" title="Подсветка днища автомобиля">
                            </a>
  
                            <a class="small-img" href="img/products/bottom-lights/bottom-lights-1/bottom-lights-3.jpg" data-fancybox="bottom-lights-1" data-width="1000" data-height="1000">
                                <img src="img/products/bottom-lights/bottom-lights-1/bottom-lights-3--thumb.jpg" width="300" height="300" alt="Подсветка днища автомобиля" title="Подсветка днища автомобиля">
                            </a>
                            <figcaption class="cards-list__item__figcaption">
                                Подсветка днища автомобиля
                            </figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887829%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix led-beams">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="led-beam--blue-47sm" href="javascript:;">
                                <img src="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-1--thumb--main.jpg" width="300" height="300" alt="Синяя led-балка 47 см" title="Синяя led-балка 47 см">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-1.jpg" data-fancybox="led-beam--blue-47sm" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-1--thumb.jpg" width="300" height="300" alt="Синяя led-балка 47 см" title="Синяя led-балка 47 см">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-2.jpg" data-fancybox="led-beam--blue-47sm" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-2--thumb.jpg" width="300" height="300" alt="Синяя led-балка 47 см" title="Синяя led-балка 47 см">
                            </a>
  
                            <a class="small-img" href="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-3.jpg" data-fancybox="led-beam--blue-47sm" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam--blue-47sm/led-beam--blue-47sm-3--thumb.jpg" width="300" height="300" alt="Синяя led-балка 47 см" title="Синяя led-балка 47 см">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Линейный стробоскоп синий</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887834%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix led-beams">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="led-beam-q5-fell" href="javascript:;">
                                <img src="img/products/led-beams/led-beam-q5-fell/led-beam-q5-fell-1--thumb--main.jpg" width="300" height="300" alt="Светлая led-балка q5 fell" title="Светлая led-балка q5 fell">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam-q5-fell/led-beam-q5-fell-1.jpg" data-fancybox="led-beam-q5-fell" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam-q5-fell/led-beam-q5-fell-1--thumb.jpg" width="300" height="300" alt="Светлая led-балка q5 fell" title="Светлая led-балка q5 fell">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam-q5-fell/led-beam-q5-fell-2.jpg" data-fancybox="led-beam-q5-fell" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam-q5-fell/led-beam-q5-fell-2--thumb.jpg" width="300" height="300" alt="Светлая led-балка q5 fell" title="Светлая led-балка q5 fell">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Светлая led-балка q5 fell</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887151%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix led-beams">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="led-beam-white" href="javascript:;">
                                <img src="img/products/led-beams/led-beam-white/led-beam-white-1--thumb--main.jpg" width="300" height="300" alt="Белая led-балка" title="Белая led-балка">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam-white/led-beam-white-1.jpg" data-fancybox="led-beam-white" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam-white/led-beam-white-1--thumb.jpg" width="300" height="300" alt="Белая led-балка" title="Белая led-балка">
                            </a>

                            <a class="small-img" href="img/products/led-beams/led-beam-white/led-beam-white-2.jpg" data-fancybox="led-beam-white" data-width="1000" data-height="1000">
                                <img src="img/products/led-beams/led-beam-white/led-beam-white-2--thumb.jpg" width="300" height="300" alt="Белая led-балка" title="Белая led-балка">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Линейный стробоскоп белый</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887842%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix roof-checkers">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="roof-checker--blue" href="javascript:;">
                                <img src="img/products/roof-checkers/roof-checker--blue/roof-checker--blue-1--thumb--main.jpg" width="300" height="300" alt="Синяя шашка на крышу" title="Синяя шашка на крышу">
                            </a>

                            <a class="small-img" href="img/products/roof-checkers/roof-checker--blue/roof-checker--blue-1.jpg" data-fancybox="roof-checker--blue" data-width="1000" data-height="1000">
                                <img src="img/products/roof-checkers/roof-checker--blue/roof-checker--blue-1--thumb.jpg" width="300" height="300" alt="Синяя шашка на крышу" title="Синяя шашка на крышу">
                            </a>

                            <a class="small-img" href="img/products/roof-checkers/roof-checker--blue/roof-checker--blue-2.jpg" data-fancybox="roof-checker--blue" data-width="1000" data-height="1000">
                                <img src="img/products/roof-checkers/roof-checker--blue/roof-checker--blue-2--thumb.jpg" width="300" height="300" alt="Синяя шашка на крышу" title="Синяя шашка на крышу">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Люстра на крышу синяя</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887819%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->

                <li class="cards-list__item mix roof-checkers">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="roof-checker--red-blue" href="javascript:;">
                                <img src="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-1--thumb--main.jpg" width="300" height="300" alt="Красно-синяя шашка на крышу" title="Красно-синяя шашка на крышу">
                            </a>

                            <a class="small-img" href="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-1.jpg" data-fancybox="roof-checker--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-1--thumb.jpg" width="300" height="300" alt="Красно-синяя шашка на крышу" title="Красно-синяя шашка на крышу">
                            </a>

                            <a class="small-img" href="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-2.jpg" data-fancybox="roof-checker--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-2--thumb.jpg" width="300" height="300" alt="Красно-синяя шашка на крышу" title="Красно-синяя шашка на крышу">
                            </a>

                            <a class="small-img" href="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-3--thumb.jpg" data-fancybox="roof-checker--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/roof-checkers/roof-checker--red-blue/roof-checker--red-blue-3.jpg" width="300" height="300" alt="Красно-синяя шашка на крышу" title="Красно-синяя шашка на крышу">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Красно-синяя шашка на крышу</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887814%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix salon-lights">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="salon-lights-1" href="javascript:;">
                                <img src="img/products/salon-lights/salon-lights-1/salon-lights-1--thumb--main.jpg" width="300" height="300" alt="Подсветка салона" title="Подсветка салона">
                            </a>

                            <a class="small-img" href="img/products/salon-lights/salon-lights-1/salon-lights-1.jpg" data-fancybox="salon-lights-1" data-width="1000" data-height="1000">
                                <img src="img/products/salon-lights/salon-lights-1/salon-lights-1--thumb.jpg" width="300" height="300" alt="Подсветка салона" title="Подсветка салона">
                            </a>

                            <a class="small-img" href="img/products/salon-lights/salon-lights-1/salon-lights-2.jpg" data-fancybox="salon-lights-1" data-width="1000" data-height="1000">
                                <img src="img/products/salon-lights/salon-lights-1/salon-lights-2--thumb.jpg" width="300" height="300" alt="Подсветка салона" title="Подсветка салона">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Подсветка салона</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887840%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->

                <li class="cards-list__item mix sgu">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="sgu-12d" href="javascript:;">
                                <img src="img/products/sgu/sgu-12d/sgu-12d-1--thumb--main.jpg" width="300" height="300" alt="СГУ 12d" title="СГУ 12d">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-12d/sgu-12d-1.jpg" data-fancybox="sgu-12d" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-12d/sgu-12d-1--thumb.jpg" width="300" height="300" alt="СГУ 12d" title="СГУ 12d">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-12d/sgu-12d-2.jpg" data-fancybox="sgu-12d" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-12d/sgu-12d-2--thumb.jpg" width="300" height="300" alt="СГУ 12d" title="СГУ 12d">
                            </a>
                            <figcaption class="cards-list__item__figcaption">СГУ грозд 612Д 200W проводной</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887137%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="sgu-100wt" href="javascript:;">
                                <img src="img/products/sgu/sgu-100wt/sgu-100wt-1--thumb--main.jpg" width="300" height="300" alt="СГУ 100Вт" title="СГУ 100Вт">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-100wt/sgu-100wt-1.jpg" data-fancybox="sgu-100wt" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-100wt/sgu-100wt-1--thumb.jpg" width="300" height="300" alt="СГУ 100Вт" title="СГУ 100Вт">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-100wt/sgu-100wt-2.jpg" data-fancybox="sgu-100wt" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-100wt/sgu-100wt-2--thumb.jpg" width="300" height="300" alt="СГУ 100Вт" title="СГУ 100Вт">
                            </a>
                            <figcaption class="cards-list__item__figcaption">СГУ Federal 100Вт</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887146%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix sgu">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="sgu-200wt-wired" href="javascript:;">
                                <img src="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-1--thumb--main.jpg" width="300" height="300" alt="СГУ 200Вт проводной" title="СГУ 200Вт проводной">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-1.jpg" data-fancybox="sgu-200wt-wired" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-1--thumb.jpg" width="300" height="300" alt="СГУ 200Вт проводной" title="СГУ 200Вт проводной">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-2.jpg" data-fancybox="sgu-200wt-wired" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-2--thumb.jpg" width="300" height="300" alt="СГУ 200Вт проводной" title="СГУ 200Вт проводной">
                            </a>

                              <a class="small-img" href="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-3.jpg" data-fancybox="sgu-200wt-wired" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-200wt-wired/sgu-200wt-wired-3--thumb.jpg" width="300" height="300" alt="СГУ 200Вт проводной" title="СГУ 200Вт проводной">
                            </a>
                            <figcaption class="cards-list__item__figcaption">СГУ Federal 200Вт проводной</figcaption>
                             <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887130%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->

                <li class="cards-list__item mix strobe-lights">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="sgu-200wt-wired" href="javascript:;">
                                <img src="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-1--thumb--main.jpg" width="300" height="300" alt="Стробоскоп под лобовое" title="Стробоскоп под лобовое">
                            </a>

                            <a class="small-img" href="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-1.jpg" data-fancybox="front-stroboscope-1" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-1--thumb.jpg" width="300" height="300" alt="Стробоскоп под лобовое" title="Стробоскоп под лобовое">
                            </a>

                            <a class="small-img" href="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-2.jpg" data-fancybox="front-stroboscope-1" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-2--thumb.jpg" width="300" height="300" alt="Стробоскоп под лобовое" title="Стробоскоп под лобовое">
                            </a>

                              <a class="small-img" href="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-3.jpg" data-fancybox="front-stroboscope-1" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/front-stroboscope-1/front-stroboscope-3--thumb.jpg" width="300" height="300" alt="Стробоскоп под лобовое" title="Стробоскоп под лобовое">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Стробоскоп под лобовое</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887809%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix strobe-lights">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="stroboscope-under-grille--red-blue" href="javascript:;">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-1--thumb--main.jpg" width="300" height="300" alt="Стробоскоп под решётку красно-синий" title="Стробоскоп под решётку красно-синий">
                            </a>

                            <a class="small-img" href="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-1.jpg" data-fancybox="stroboscope-under-grille--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-1--thumb.jpg" width="300" height="300" alt="Стробоскоп под решётку красно-синий" title="Стробоскоп под решётку красно-синий">
                            </a>

                            <a class="small-img" href="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-2.jpg" data-fancybox="stroboscope-under-grille--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-2--thumb.jpg" width="300" height="300" alt="Стробоскоп под решётку красно-синий" title="Стробоскоп под решётку красно-синий">
                            </a>

                              <a class="small-img" href="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-3.jpg" data-fancybox="stroboscope-under-grille--red-blue" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--red-blue/stroboscope-under-grille--red-blue-3--thumb.jpg" width="300" height="300" alt="Стробоскоп под решётку красно-синий" title="Стробоскоп под решётку красно-синий">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Стробоскоп под решётку красно-синий</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887171%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix strobe-lights">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="stroboscope-under-grille--orange-2x4" href="javascript:;">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--orange-2x4/stroboscope-under-grille--orange-2x4-1--thumb--main.jpg" width="300" height="300" alt="Стробоскоп под решётку оранжевый 2х4" title="Стробоскоп под решётку оранжевый 2х4">
                            </a>

                            <a class="small-img" href="img/products/strobe-lights/stroboscope-under-grille--orange-2x4/stroboscope-under-grille--orange-2x4-1.jpg" data-fancybox="stroboscope-under-grille--orange-2x4" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-lights/stroboscope-under-grille--orange-2x4/stroboscope-under-grille--orange-2x4-1--thumb.jpg" width="300" height="300" alt="Стробоскоп под решётку оранжевый 2х4" title="Стробоскоп под решётку оранжевый 2х4">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Стробоскоп под решётку оранжевый 2х4</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887171%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->    

                <li class="cards-list__item mix strobe-controllers">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="strobe-controller-1" href="javascript:;">
                                <img src="img/products/strobe-controllers/strobe-controller-1/strobe-controller-1--thumb--main.jpg" width="300" height="300" alt="Контроллер стробоскопа" title="Контроллер стробоскопа">
                            </a>

                            <a class="small-img" href="img/products/strobe-controllers/strobe-controller-1/strobe-controller-1.jpg" data-fancybox="strobe-controller-1" data-width="1000" data-height="1000">
                                <img src="img/products/strobe-controllers/strobe-controller-1/strobe-controller-1--thumb.jpg" width="300" height="300" alt="Контроллер стробоскопа" title="Контроллер стробоскопа">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Контроллер стробоскопа</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887134%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->   

                <li class="cards-list__item mix sgu">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="sgu-200wt-wireless-1" href="javascript:;">
                                <img src="img/products/sgu/sgu-200wt-wireless/sgu-200wt-wireless-1--thumb--main.jpg" width="300" height="300" alt="СГУ 200Вт беспроводной" title="СГУ 200Вт беспроводной">
                            </a>

                            <a class="small-img" href="img/products/sgu/sgu-200wt-wireless/sgu-200wt-wireless-1.jpg" data-fancybox="sgu-200wt-wireless-1" data-width="1000" data-height="1000">
                                <img src="img/products/sgu/sgu-200wt-wireless/sgu-200wt-wireless-1--thumb.jpg" width="300" height="300" alt="СГУ 200Вт беспроводной" title="СГУ 200Вт беспроводной">
                            </a>
                            <figcaption class="cards-list__item__figcaption">СГУ Federal 200Вт беспроводной</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887107%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix horns">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="horn-type-R18-signal" href="javascript:;">
                                <img src="img/products/horns/horn-1/horn-type-R18-signal-1--thumb--main.jpg" width="300" height="300" alt="Клаксон horn type R18" title="Клаксон horn type R18">
                            </a>

                            <a class="small-img" href="img/products/horns/horn-1/horn-type-R18-signal-1.jpg" data-fancybox="horn-type-R18-signal" data-width="1000" data-height="1000">
                                <img src="img/products/horns/horn-1/horn-type-R18-signal-1--thumb.jpg" width="300" height="300" alt="Клаксон horn type R18" title="Клаксон horn type R18">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Клаксон horn type R18</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887144%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->   

                <li class="cards-list__item mix rear-lights-repeaters">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="rear-lights-repeater-1" href="javascript:;">
                                <img src="img/products/rear-lights-repeaters/rear-lights-repeater-1/rear-lights-repeater-1--thumb--main.jpg" width="300" height="300" alt="Повторители задних огней" title="Повторители задних огней">
                            </a>

                            <a class="small-img" href="img/products/rear-lights-repeaters/rear-lights-repeater-1/rear-lights-repeater-1.jpg" data-fancybox="rear-lights-repeater-1" data-width="1000" data-height="1000">
                                <img src="img/products/rear-lights-repeaters/rear-lights-repeater-1/rear-lights-repeater-1--thumb.jpg" width="300" height="300" alt="Повторители задних огней" title="Повторители задних огней">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Повторители задних огней</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2893117%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item --> 

                <li class="cards-list__item mix drls">
                    <p class="imglist" style="max-width: 1000px;">
                        <figure class="cards-list__item__figure">
                            <a data-fancybox-trigger="drl-1" href="javascript:;">
                                <img src="img/products/drls/drl-1/drl-1--thumb--main.jpg" width="300" height="300" alt="ДХО" title="ДХО">
                            </a>

                            <a class="small-img" href="img/products/drls/drl-1/drl-1.jpg" data-fancybox="drl-1" data-width="1000" data-height="1000">
                                <img src="img/products/drls/drl-1/drl-1.jpg" width="300" height="300" alt="ДХО" title="ДХО">
                            </a>
                            <figcaption class="cards-list__item__figcaption">Дополнительные ходовы огни FGB17-51 Ватт</figcaption>
                            <a class="cards-list__button" href="https://vk.com/market-160231740?w=product-160231740_2887239%2Fquery" target="blank">Перейти в магазин</a>
                        </figure>
                    </p>
                </li>
                <!-- /cards-list__item -->        
            </ul>
            <!-- /cards-list -->
	    </div>
        <!-- /cards-wrap -->
    </section>
    <!-- /catalog -->
</div>
<!-- /container -->