<section id="contacts" class="contacts">

	<div class="container">
	
        <h2 class="section-title section-title--contacts">Контакты</h2>
	    <span class="title__decor title__decor--contacts"></span>

	    <div class="contacts-block">
	    	
	    	<div class="card-wrap">
	            
	            <div id="card-address" class="card">
	    	        
	    	        <ul class="card-list">
	    	            <li>
	    	                <a class="contact__link whatsapp--black" href="https://wa.me/79963165819?text=Internet%20shop%20stroboscope%20sgu%20migalki%20spetssignaly" target="blank">+7 (996) 316-58-19</a>
	                    </li>
	                    <li>
	    	                <a class="contact__link email--black" href="mailto:darum94@bk.ru" target="blank">darum94@bk.ru</a>
	                    </li>
	                </ul>
	                <!-- /card-list -->

	                <div class="card__title">
	            	    <p>Интернет-магазин</p>
	            	    <p>SGUYKT</p>
	                </div>

	                <p class="address--card">677008, Республика Саха, Якутия, город Якутск, Вилюйский переулок, 11</p>

	            </div>
	             <!-- /card -->
	        </div>
	        <!-- /card-wrap -->

            <div class="working-hours">
	            <h4 class="working-hours__title">График работы:</h4>
	            <table class="table">
	            	<tbody class="table-body">
	            		<tr class="table-head">
	            			<th class="title-day">День недели</th>
	            			<th class="title-hours">Часы работы</th>
	            		</tr>
	            		<tr>
	            			<td class="day">Понедельник</td>
	            			<td class="hours">10:00 - 19:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Вторник</td>
	            			<td class="hours">10:00 - 19:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Среда</td>
	            			<td class="hours">10:00 - 19:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Четверг</td>
	            			<td class="hours">10:00 - 19:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Пятница</td>
	            			<td class="hours">10:00 - 18:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Суббота</td>
	            			<td class="hours">10:00 - 18:00</td>
	            		</tr>
	            		<tr>
	            			<td class="day">Воскресенье</td>
	            			<td class="hours">12:00 - 16:00</td>
	            		</tr>
	            	</tbody>
	            </table>
	        </div>
            <!-- /working-hours-->
	    </div>
	    <!-- /contacts-block --> 
    </div>
    <!-- /container -->

    <div id="yandex-map" class="map" aria-label="Республика Саха, Якутск, Вилюйский переулок, 11"></div>
    <!-- /map -->
</section>
<!-- /contacts -->