<footer class="footer">
	
	<div class="container">
		
		<div class="footer-inner-wrap">

            <div class="footer-logo-wrap">
            	<a class="footer__logo" href="index.html"></a>
            </div>

            <div class="address-info">
            	<h4 class="address-info__title">Наш адрес:</h4>
            	<span class="title__decor title__decor--footer"></span>
            	<p class="address address--footer">
            	    Республика Саха, Якутск, Вилюйский переулок, 11
                </p>
            </div>
            <!-- /address-info -->

            <div class="contacts-info">
            	
                <h4 class="contacts-info__title">Остались вопросы?</h4>
                <span class="title__decor title__decor--footer"></span>
                
                <ul class="contact-list contact-list--footer">
                    <li>
                        <a class="contact__link contact__link--footer email" href="mailto:darum94@bk.ru" target="blank">darum94@bk.ru</a>
                    </li>
                    <li>
                        <a class="contact__link contact__link--footer whatsapp" href="https://wa.me/79963165819?text=Internet%20shop%20stroboscope%20sgu%20migalki%20spetssignaly" target="blank">+7 (996) 316-58-19</a>
                    </li>
                </ul>
                <!-- /contact-list -->
            </div>
            <!-- /contacts-info -->
        </div>
        <!-- /footer-inner-wrap -->

        <div class="footer-bottom">
        	
            <div class="warning">&copy; Все права защищены.
            	<a class="warning__link" href="https://www.sguykt.ru/">www.sguykt.ru</a>
            </div>

            <div class="year"></div>

            <div class="footer-social">

            	<ul class="footer-social-list">
            	
                    <li class="footer-social__item">
                	    <a class="footer-social__link vkontakte-footer" href="https://vk.com/sguykt" target="blank" aria-label="вконтакте"></a>
                    </li>
                    <li  class="footer-social__item">
                	    <a class="footer-social__link instagram-footer" href="https://www.instagram.com/sgu_ykt/" target="blank" aria-label="инстаграм"></a>
                    </li>
                    <li  class="footer-social__item">
                	    <a class="footer-social__link youtube-footer" href="https://www.youtube.com/channel/UCJ2sKKgD_sdLeg2gioB1Stg" target="blank" aria-label="ютьюб"></a>
                    </li>
                    <li  class="footer-social__item">
                	    <a class="footer-social__link facebook-footer" href="https://www.facebook.com/SGUykt/" target="blank" aria-label="фейсбук"></a>
                    </li>

                </ul>
                <!-- /social-list -->
            </div>
            <!-- /social -->
        </div>
        <!-- /footer-bottom -->
	</div>
    <!-- /container -->
</footer>
<!-- /footer -->