<div class="container">

	<header id="top" class="header">

		<div class="header-top">

            <div class="logo-wrap">
                <a class="logo" href="index.html"></a>
            </div>

			<div class="header-title-wrap">

			    <h1 class="header__title">Интернет-магазин SGUYKT</h1>
			    <p class="header__subtitle">стробоскопы | сгу | спецсигналы | мигалки</p>
                <span class="title__decor title__decor--header"></span>
                <p class="number-one"># 1 в России</p>

			</div>

            <div class="social-contacts-wrap">
                
			
            <ul class="social-list">
            	
                <li class="social__item">
                	<a class="social__link vkontakte" href="https://vk.com/sguykt" target="blank" aria-label="вконтакте"></a>
                </li>
                <li  class="social__item">
                	<a class="social__link instagram" href="https://www.instagram.com/sgu_ykt/" target="blank" aria-label="инстаграм"></a>
                </li>
                <li  class="social__item">
                	<a class="social__link youtube" href="https://www.youtube.com/channel/UCJ2sKKgD_sdLeg2gioB1Stg" target="blank" aria-label="ютьюб"></a>
                </li>
                <li  class="social__item">
                	<a class="social__link facebook" href="https://www.facebook.com/SGUykt/" target="blank" aria-label="фейсбук"></a>
                </li>

            </ul>

            <div class="address-contact-wrap">

            <p class="address">Республика Саха, Якутск, Вилюйский переулок, 11</p>

            <ul class="contact-list contact-list--mobile">
                
                <li>
                    <a class="contact__link email" href="mailto:darum94@bk.ru" target="blank">darum94@bk.ru</a>
                </li>
                <li>
                    <a class="contact__link whatsapp" href="https://wa.me/79963165819?text=Internet%20shop%20stroboscope%20sgu%20migalki%20spetssignaly" target="blank">+7 (996) 316-58-19</a>
                </li>

            </ul>

            <p class="phone-info">звонки принимаются ежедневно с 04:00 до 14:00 по московскому времени и с 10:00 до 20:00 по местному времени</p>

            </div>
           </div>
           <!-- /address-contact-wrap -->
		</div>

	</header>

    <a id="toTop" class="to-top-btn">^ Наверх</a>
	
</div>
<!-- /container-->
