
<section class="intro">

    <div class="container">

    <div class="intro-inner-wrap">
	
    <div class="intro__video-block">
    	<div class="video-wrap">
    		<iframe class="video" src="https://www.youtube.com/embed/3BFS8zDm8i4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    	</div>
    </div>
    <div class="intro-content">

    	<div class="intro-content-inner-wrap">
    	
        <h2 class="intro-content__title">Немного о себе</h2>
        <p class="intro-content__subtitle">Кто мы и откуда взялись</p>

        <span class="title__decor title__decor--intro"></span>

        <p class="intro-content__text">Интернет-магазин SGUYKT, специализирующийся на розничной и оптовой продаже светосигнального оборудования для спецтранспорта, был основан в 2016 году.</p> 
        <p class="intro-content__text">На текущий момент мы продолжаем развиваться, наращиваем ассортимент и разные направления в этой сфере.</p>
        <p class="intro-content__text">Мы предлагаем широкий ассортимент стробоскопов, спецсигналов, шашек, сгу, мигалок, громкоговорителей, товаров для автохулиганов</p> 

      </div>
    </div>
    </div>
</div>
</section>
<!-- /intro -->
