<div class="container">
<div class="nav-wrap">

<nav class="nav">

    <ul class="nav-list">
        <li class="nav__item">
        	<a href="#popular" class="nav__link">Популярные товары</a>
        </li>
        <li class="nav__item">
            <a href="#advantages" class="nav__link">Наши преимущества</a>
        </li>
        <li class="nav__item">
            <a href="#catalog" class="nav__link hidden-sm">Каталог</a>
        </li>
        <li class="nav__item">
        	<a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
        	<a href="#contacts" class="nav__link">Контакты</a>
        </li>
    </ul>
</nav>
    <button id="menu__button" class="cmn-toggle-switch cmn-toggle-switch__htx">
        <span>toggle menu</span>
    </button>
</div>
<!-- </div> -->
</div>