<section id="popular" class="popular">

	<div class="container">

	    <h2 class="section-title section-title--popular">Популярные товары</h2>
	    <span class="title__decor title__decor--popular"></span>
	
	    <div class="slick-wrap">
		
            <div id="slick" class="slick">

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2893117%2Fquery" target="blank">
                            <img src="img/popular/rear-beams.jpg" width="300" height="300" alt="Подсветка - повторитель задних огней на бампер" title="Подсветка - повторитель задних огней на бампер">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Подсветка - повторитель задних огней на бампер
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->  

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2887840%2Fquery" target="blank">
                            <img src="img/popular/salon-beams.jpg" width="300" height="300" alt="Подсветка салона" title="Подсветка салона">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Подсветка салона
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->  

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2887829%2Fquery" target="blank">
                            <img src="img/popular/bottom-beams.jpg" width="300" height="300" alt="Подсветка днища" title="Подсветка днища">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Подсветка днища
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->  

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2887811%2Fquery" target="blank">
                            <img src="img/popular/strob-under-grill-white-2x4.jpg" width="300" height="300" alt="Стробоскопы под решётку 2х4 (белые)" title="Стробоскопы под решётку 2х4 (белые)">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Стробоскопы под решётку 2х4 (белые)
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide --> 

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2887809%2Fquery" target="blank">
                            <img src="img/popular/strob-front-red-blue.jpg" width="300" height="300" alt="Стробоскопы под лобовое (красно-синие) V2" title="Стробоскопы под лобовое (красно-синие) V2">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Стробоскопы под лобовое (красно-синие) V2
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide --> 

                <div class="slide">
                    <figure class="cards-list__item__figure">
                         <a href="https://vk.com/market-160231740?w=product-160231740_2887146%2Fquery" target="blank">
                            <img src="img/popular/sgu-federal-100W.jpg" width="300" height="300" alt="СГУ Federal 100Вт" title="СГУ Federal 100Вт">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            СГУ Federal 100Вт
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->

                <div class="slide">
                    <figure class="cards-list__item__figure">
                         <a href="https://vk.com/market-160231740?w=product-160231740_2887144%2Fquery" target="blank">
                            <img src="img/popular/horn-type-r18.jpg" width="300" height="300" alt="Клаксоны Type-R 18 режимов" title="Клаксоны Type-R 18 режимов">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            Клаксоны Type-R 18 режимов
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->

                <div class="slide">
                    <figure class="cards-list__item__figure">
                         <a href="https://vk.com/market-160231740?w=product-160231740_2887107%2Fquery" target="blank">
                            <img src="img/popular/sgu-federal-200w-wireless.jpg" width="300" height="300" alt="СГУ Federal 200Вт беспроводной" title="СГУ Federal 200Вт беспроводной">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            СГУ Federal 200Вт беспроводной
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->

                <div class="slide">
                    <figure class="cards-list__item__figure">
                        <a href="https://vk.com/market-160231740?w=product-160231740_2887130%2Fquery" target="blank">
                            <img src="img/popular/sgu-federal-200w-wired.jpg" width="300" height="300" alt="СГУ Federal 200Вт проводной" title="СГУ Federal 200Вт проводной">
                        </a>
                        <figcaption class="cards-list__item__figcaption">
                            СГУ Federal 200Вт проводной
                        </figcaption>
                    </figure>
                </div>
                <!-- /slide -->
            </div>
            <!-- /slick -->
	    </div>
	    <!-- /slick-wrap -->
    </div>
    <!-- /container -->
</section>
<!-- /popular -->
